<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hello</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/dlg-common.css">
  <link rel="stylesheet" href="dlg-goto.css">
  <link rel="icon" href="https://i.wangding.in/favicon.ico" sizes="48x48" type="image/png">
</head>
<body>
<input type="button" class="popup" value="弹出对话框" />
<!--
<div class="notepad-goto-dlg">
  <div class="dialogbox">
    <div class="titlebar">
      <p class="title">转到指定行</p>
      <span class="btn-close">×</span>
    </div>
    <div class="main">
      <label>行号(L):</label><br>
      <input type="text" class="line-num"><br>
      <input type="button" value="转到" class="btn-goto">
      <input type="button" value="取消" class="btn-cancel">
    </div>
  </div>
</div>
-->
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="dlg-goto.js"></script>
 
<script>
$(function(){
  $btnPopup=$('input.popup');
  $btnPopup.click(function(){
    $dlgGoto.init({
      curLine:3,
      totalLines:5,
      gotoHandler:function(e){ console.log('goto btn clicked!and goto %s lines',e) }
    });
  });
});
</script>
</body>
</html>
